<!DOCTYPE html>
<html>

<head>
  <title>Charles Jude Prestia</title>
  <link rel="icon" type="image/png" href="/assets/images/alien.png">
  <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="assets/css/icons.css">

  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  {{!--
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script> --}}
  {{!--
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> --}}
  <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  {{!--
  <link rel="stylesheet" type="text/css" href="assets/css/main.css"> --}}
  {{!--
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One|Teko|Josefin+Sans" rel="stylesheet">
  --}}
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main_new2.css">
  {{!-- <script src="https://use.fontawesome.com/a61d82420f.js"></script> --}}
  {{!-- <script src="https://kit.fontawesome.com/e20b515682.js"></script> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="assets/javascript/main2.js"></script>
</head>
{{!-- <header>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12" id="nameDiv">
        <a href="/" id="name">Charles Jude Prestia</a>
      </div>
      <div class="col-md-5 col-xs-12" id="navDiv">
        <p id="tagline">continuous development</p>
      </div>
    </div>
  </div>
</header> --}}

<body>
  {{{ body }}}
</body>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        &copy; Copyright
        <script>document.write(new Date().getFullYear())</script> Charles Jude Prestia
        <a id="goinToSpace" href="https://starfoxmulder.github.io/imgoin/intospace.html" class="socialIcons">
          <i class="fa fa-rocket fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

</html>


<!-- Contact Modal -- As the 'Contact' nav li element -- <li><a id="navBarContact" type="button" data-toggle="modal"
    data-target="#contactModal">Contact</a></li>

  -- Within the

  <body> tag of this file --

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="contactModalLabel">Send me an email!</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="sender-name" class="control-label">Your Email:</label>
                <input type="text" class="form-control" id="sender-name">
              </div>
              {{!-- <div class="form-group">
                <label for="subject-name" class="control-label">Subject:</label>
                <input type="text" class="form-control" id="subject-name">
              </div> --}}
              <div class="form-group">
                <label for="message-text" class="control-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="sendEmail" type="button" class="btn btn-primary">Send!</button>
          </div>
        </div>
      </div>
    </div> -->