<main class="container">
	<div class="row">
		<section class="main-section col-xs-12">
			<h2>A Little About Me</h2>

			<div class="row" id="topBio">
				<div class="col-xs-3 col-xs-offset-1" id="work">
					<h3>Work Style</h3>
					<p>Aside from chronic dependence on multiple monitors, I'm about as adaptable, innovative, and eager to push
						boundaries as a developer can be.<br><br>
						Collaborating with other people who appreciate intellectual humility, knowledge sharing, and value creation can
						make work feel like home.<br><br>
						With me, you not only get a full-stack developer, but as a special bonus I come fully equpied with a background
						in organizational operations, process improvement, project management, and market oriented approaches to design
						thinking. Wow!
					</p>
				</div>
				<div id="mentalM" class="col-xs-4">
					<h3>Favorite Mental Models</h3>
					<p>
						Principled Entrepreneurship<br>
						Creative Destruction<br>
						Systems Thinking<br>
						Opportunity Cost | Sunk Costs | Trade-offs<br>
						Parkinson's Law<br>
						Strong Opinions Loosely Held<br>


					</p>
				</div>
				<div id="genWV" class="col-xs-4">
					<h3>General World View</h3>
					<p>
						Understanding is reached after confrontation; fear is antithetical to progress.<br><br>
						Maintaining a kind, open, inviting, and honest attitude will save you worlds of grief while generating universes
						of opportunity.<br><br>
						What's more incredible than being alive? Retaining a perspective rooted in levity, humor, enjoyment, and
						inventiveness can overcome the problems it can't resolve.<br><br>
						Creating value for people and creatures is, like, the best feeling ever - so, you know, just do that as much as
						you can.
					</p>
				</div>
			</div>

			<div class="row" id="myPicRow">
				<div class="col-xs-4 myPicBuffer">
				</div>
				<div class="col-xs-4">
					<img id="myPic" src="assets/images/FormalWare3.jpg">
				</div>
				<div class="col-xs-4 myPicBuffer">
				</div>
			</div>

			<div class="row" id="bottomBio">
				<div class="col-xs-3 col-xs-offset-1">
					<h3>Background</h3>
					<p>
						Over the course of doing process improvement work for several years, it became emergently clear how powerful the
						right technology could be in reducing end-to-end costs and freeing people to focus on higher value opportunities.
						My curiosity and interest in gaining new skills led me to self-study front-end languages in my own time.
						<br><br>
						From there I applied and was aceepted into The Coding Bootcamp at UNC Chapel Hill where I had a phenomenally
						intense, immersive experience building full-stack applications.
						<br><br>
						Since graduating I've held programming positions with Lenovo and Verizon. In my spare time I love working on side
						projects to expand my skills and grow as a developer.
					</p>
				</div>
				<div class="col-xs-4">
					<div id="connect" class="row">
						<h2 class="col-xs-12">Connect with Me</h2>
					</div>
					<ul id="SocialImages" class="col-xs-12">
						<li class="socialIconLI"><a href="https://github.com/StarfoxMulder" class="socialIcons"><i class="fa fa-github fa-3x"
								 aria-hidden="true"></i></a></li>
						<li class="socialIconLI"><a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name"
							 class="socialIcons"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
						<li class="socialIconLI"><a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons"><i
								 class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-xs-3">
					<h3>Tell me about your pets</h3>
					<p>
						<i class="fa fa-paw" aria-hidden="true"></i>
						StarFox Mulder
						<i class="fa fa-paw" aria-hidden="true"></i><br>
						85lbs 5 year-old Lab/Great Pyrenees Mix - Shelter pup with a heart of gold.
						<br>
						<br>
						<i class="fa fa-paw" aria-hidden="true"></i>
						Ari
						<i class="fa fa-paw" aria-hidden="true"></i><br>
						My fiancée found the tiniest Maine Coon in a box. Best behaved and most loving cat I've ever met.
						<br>
						<br>
						<i class="fa fa-paw" aria-hidden="true"></i>
						Small
						<i class="fa fa-paw" aria-hidden="true"></i><br>
						The shelter named him Hermie because he was born with an extreme hernia :( We couldn't say no to such a sad boy
						so he's been terrorizing our family for the last year.
						<br>
					</p>
				</div>
			</div>

		</section>
</main>