<main class="container">
	<div class="row">
		<section class="main-section col-xs-8">
			<h2>Contact</h2>



		</section>

		<section id="sidebar" class="col-xs-offset-1 col-xs-3">
			<div id="connect" class="row">
				<h2 class="col-xs-12">Connect with Me</h2>
			</div>

			<div class="row">
				<ul id="SocialImages" class="col-xs-12">
					<li class="socialIconLI"><a href="https://github.com/StarfoxMulder" class="socialIcons"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name" class="socialIcons"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</section>
	</div>
</main>

