<main class="container">
	<section class="row" id="technologies">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="col-xs-3">
				<i class="devicon-git-plain techIcon"></i>
				<br>
				<span class='label'>git bash</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-github-plain techIcon"></i>
				<br>
				<span class='label'>github</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-html5-plain techIcon"></i>
				<br>
				<span class='label'>html 5</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-css3-plain techIcon"></i>
				<br>
				<span class='label'>css 3</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-bootstrap-plain techIcon"></i>
				<br>
				<span class='label'>bootstrap</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-javascript-plain techIcon"></i>
				<br>
				<span class='label'>javascript</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-jquery-plain techIcon"></i>
				<br>
				<span class='label'>jquery</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-mysql-plain techIcon"></i>
				<br>
				<span class='label'>mysql</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-mongodb-plain techIcon"></i>
				<br>
				<span class='label'>mongodb</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-nodejs-plain techIcon"></i>
				<br>
				<span class='label'>nodejs</span>
			</div>
			<div class="col-xs-3">
				<i class='icon-tech-expressjs techIcon2'></i>
				<br>
				<span class='label'>express</span>
			</div>
			<div class="col-xs-3">
				<i class='icon-tech-handlebars techIcon2'></i>
				<br>
				<span class='label'>handlebars</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-react-original techIcon"></i>
				<br>
				<span class='label'>react</span>
			</div>
			<div class="col-xs-3">
				<i class='icon-tech-vue techIcon2'></i>
				<br>
				<span class='label'>vue</span>
			</div>
			<div class="col-xs-3">
				<i class="devicon-heroku-original techIcon"></i>
				<br>
				<span class='label'>heroku</span>
			</div>
			<div class="col-xs-3">
				<i class='icon-tech-agile techIcon2'></i>
				<br>
				<span class='label'>agile</span>
			</div>
		</div>
		<div class="col-xs-3">
			<i class="devicon-python-plain techIcon"></i>
			<br>
			<span class='label'>python</span>
		</div>
	</section>

	{{!-- <div class="preview">
		<i></i>
		<br>
		<span class='label'>typescript</span>
		<span class='label'>stylus</span>
	</div> --}}
	</div>
	</div>
	</section>
</main>