<main class="container">
    <section class="row" id="technologies">
    	<div class="col-xs-8 col-xs-offset-2">
    		{{!-- {{#each icon}} --}}
    			<div class="preview">
        <span class="inner">
            <i class="icon-tech-agile"></i>
        </span>
        <br>
        <span class='label'>agile</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-git"></i>
        </span>
        <br>
        <span class='label'>git</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-bash"></i>
        </span>
        <br>
        <span class='label'>bash</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-bootstrap"></i>
        </span>
        <br>
        <span class='label'>bootstrap</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-javascript"></i>
        </span>
        <br>
        <span class='label'>javascript</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-mysql"></i>
        </span>
        <br>
        <span class='label'>mysql</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-nosql"></i>
        </span>
        <br>
        <span class='label'>nosql</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-mongo"></i>
        </span>
        <br>
        <span class='label'>mongo</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-nodejs"></i>
        </span>
        <br>
        <span class='label'>nodejs</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-expressjs"></i>
        </span>
        <br>
        <span class='label'>expressjs</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-react"></i>
        </span>
        <br>
        <span class='label'>react</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-"></i>
        </span>
        <br>
        <span class='label'>REST APIs</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-"></i>
        </span>
        <br>
        <span class='label'>ajax & json</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-handlebars"></i>
        </span>
        <br>
        <span class='label'>handlebars</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-heroku"></i>
        </span>
        <br>
        <span class='label'>heroku</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-mysql"></i>
        </span>
        <br>
        <span class='label'>mysql</span>
    </div>
    	{{!-- 	{{/each}} --}}
    	</div>
    </section>
    <section class="row" id="technologiesComing">
    	<div class="col-xs-8 col-xs-offset-2">
    		<div class="col-xs-12">coming soon</div>
    		{{!-- {{#each iconComing}} --}}
    		<div class="preview">
        <span class="inner">
            <i class="icon-tech-aws"></i>
        </span>
        <br>
        <span class='label'>aws</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-vue"></i>
        </span>
        <br>
        <span class='label'>vue</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-typescript"></i>
        </span>
        <br>
        <span class='label'>typescript</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-stylus"></i>
        </span>
        <br>
        <span class='label'>stylus</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-meteor"></i>
        </span>
        <br>
        <span class='label'>meteor</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-less"></i>
        </span>
        <br>
        <span class='label'>less</span>
    </div>
    <div class="preview">
        <span class="inner">
            <i class="icon-tech-python"></i>
        </span>
        <br>
        <span class='label'>python</span>
    </div>
    	{{!-- 	{{/each}} --}}
    	</div>
    </section>
</main>
