<main>

  <section class="no-gutters" id="homeSection">
    <section class="row" id="home">
      <div class="old-modal-section col-12">
        <div class="introDiv row justify-content-center">
          <div class="old-modal-dialog col-6">
            <div class="old-modal-content">
              <div class="old-modal-body">
                <p>Hello, I am Charles Jude Prestia.</p>
                <p>I am a full-stack Web Developer.</p>
              </div>
              <div class="old-modal-footer">
                <button id="ViewMyWork">view my work <span id="old-modalArrow"><i class="fal fa-arrow-right"></i></span></button>
              </div>
            </div>
          </div>
          <video autoplay muted loop id="myVideo">
            <source src="assets/images/Macro_Plex_4K_Motion_Background_Loop.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </section>
  </section>
  <section class="container" id="portCont">
    <section class="row justify-content-center" id="aboutMe">
      <div class="col-12">
        <h2>About</h2>
      </div>
      <div class="col-12 no-gutters" id="about-section">
        <div class="row aboutRow">
          <div class="col-6" id="about-text">
            <p>I am blessed to have my wife, our dog, our cats, our broader family and our friends - but clearly not
              with great PhotoShop skills</p>
            <p>Brianna and I are working toward having children, but in the meantime StarFox (5 yearold Lab/Pyrenees
              mix), Small (the little butthead in my arms), and Ari (the perfect angel on Brianna's lap) are the little
              weirdos we're lovingly doting on.</p>
          </div>
          <div class="col-6" id="about-pic">
          </div>
        </div>
      </div>
    </section>
    <section class="row justify-content-center" id="portfolio">
      <div class="col-12">
        <h2>Portfolio</h2>
      </div>
      <div class="col-12 no-gutters" id="work-section">
        <div class="row projRow">
          <div class="projItem col-12 col-md-6 " data-title="JP Development" data-tech="Python   Django   PostgreSQL"
            data-about="Fully functional website for a fictional real estate business.  Potential buyers can search or filter listings based on a number of criteria, make inquiries directly about a particular property, and make an account to check on the status of thier inquiries. The company receives an email about each inquiery, realtors can see inqueries about their properties, and the admin panel allows for full control over the whole process."
            data-url="http://judepdevelopment.com/">
            <img class="placeholder" src="assets/images/L2.jpg">
            <h3 class="projTitle">
              <span>JP Development</span>
            </h3>
          </div>
          <div class="projItem col-12 col-md-6 ">
            <img class="placeholder" src="assets/images/S2.jpg">
            <h3 class="projTitle"><span>DevsConnect</span></h3>
          </div>
        </div>
        <div class="row projRow">
          <div class="projItem col-12 col-md-6 ">
            <img class="placeholder" src="assets/images/J2.jpg">
            <h3 class="projTitle"><span>Lickin' Leukemia</span></h3>
          </div>
          <div class="projItem col-12 col-md-6 ">
            <img class="placeholder" src="assets/images/L2.jpg">
            <h3 class="projTitle"><span>Unbelievers Podcast</span></h3>
          </div>
        </div>
        <div class="row projRow">
          <div class="projItem col-12 col-md-6 ">
            <img class="placeholder" src="assets/images/S2.jpg">
            <h3 class="projTitle"><span>Unbelievable Soundboard</span></h3>
          </div>
          <div class="projItem col-12 col-md-6 ">
            <img class="placeholder" src="assets/images/J2.jpg">
            <h3 class="projTitle"><span>Pomodoro Timer</span></h3>
          </div>
        </div>
      </div>
    </section>
  </section>

  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="projTitleModal">Project Title</p>
          <p class="projTechModal">built using these</p>
          <p class="projAboutModal">one or two sentences about this project</p>
        </div>
        <div class="modal-footer">
          <a id="projVisitModal" href="" target="_blank">visit project</a>
        </div>
      </div>
    </div>
  </div>
</main>