<main class="container">
  <div class="row">
    <div class="main-section col-lg-12">
      <h2>Portfolio</h2>

      {{!-- <div class="row">
      </div> --}}


      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>Hello, I am Charles Jude Prestia. My friends call me Jude.</p>
              <p>I am a full-stack Web Developer.</p>
            </div>
            <div class="modal-footer">
              <button id="ViewMyWork" data-dismiss="modal">View my work <span id="ModalArrow"><i class="fal fa-long-arrow-right"></i></span></button>
            </div>
          </div>
        </div>
      </div>

      <div id="sidebar" class="col-sm-6 offset-sm-3">

        <div id="connect" class="row">
          <h2 class="col-sm-12">Connect with Me</h2>
        </div>

        <div class="row">
          <ul id="SocialImages" class="col-sm-12">
            <li class="socialIconLI">
              <a href="https://github.com/StarfoxMulder" class="socialIcons">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="socialIconLI">
              <a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name" class="socialIcons">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="socialIconLI">
              <a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons">
                <i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
</main>