html {
  height: 100%;
  padding: 0;
}

body {
  /* background: #2B516E; */
  background: #fff;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

/*///// Intro modal /////*/
#home {
  height: calc(100vh + 53px);
  /* height: 100vh; */
}

#homeSection {
  overflow: hidden;
}

#myModal {
  background-color: transparent;
}

#myVideo {
  bottom: 0;
  right: 0;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  position: absolute;
}

.old-modal-dialog {
  margin-top: 20%;
  font-size: 2em;
  color: #fff;
  position: absolute;
  z-index: 999999;
}

.old-modal-content {
  background-color: transparent;
  border: none;
  text-align: center;
}

.old-modal-footer {
  border: none;
}

#ViewMyWork:hover {
  background-color: #4989BA;
}

#ViewMyWork:hover .fa-arrow-right {
  transform: rotate(90deg);
  /* transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s; */
}

.fa-arrow-right {
  transition: transform .3s;
}

/* possible way to make intro modal 100% of viewport
    padding: 0 10px;
    color: #fff;
    height: calc(100vh + 53px);
*/

#ViewMyWork {
  font-size: 1em;
  color: #F8FFFB;
  background-color: transparent;
  border: solid 2px #fff;
  margin: auto;
  text-decoration: none;
}

#old-modalArrow {
  font-size: 0.7em;
  color: #F8FFFB;
  vertical-align: middle;
}

.old-modal-section {
  font-family: 'Archivo Narrow', sans-serif;
}

/*/////  ABOUT PAGE  /////*/

#aboutMe {
  font-family: "Archivo Narrow", sans-serif;
  color: #2B516E;
  margin: 0 10%;
}

#aboutMe h2 {
  letter-spacing: 3px;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid;
  width: 62px;
}

#about-pic {
  height: 500px;
  background-size: cover;
  background-image: url(/assets/images/Us2.png);
  background-position: right;
  border-radius: 100px;
}

#about-text {
  font-size: 20px;
}

#about-pic

/*/////  PORTFOLIO PAGE  /////*/
#portCont {
  padding: 0;
}

#portfolio {
  font-family: "Archivo Narrow", sans-serif;
  color: #fff;
  margin-top: 50px;
}

#portfolio h2 {
  letter-spacing: 3px;
  text-align: center;
  margin-top: 10px;
  color: #2B516E;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid;
  width: 86px;
}

#work-section {
  background-color: #fff;
  padding: 0 10%;
}

.projItem:hover {
  cursor: pointer;
}

.projItem {
  /* border: 1px solid #2B516E; */
  padding: 0;
}

.projItem img {
  width: 100%;
  height: 100%;
}

.projTitle {
  margin-top: -75px;
  margin-bottom: 41px;
  text-align: center;
}

.projTitle span {
  background-color: #4989BA;
  color: #fff;
  border: solid 3px #fff;
  margin: auto;
  padding: 0 8px;
  /* transition: transform .3s; */
}

.projItem:hover span {
  background-color: #44C7BA;
  cursor: pointer;
  /* transition: transform .3s;
  transform: scale(1.1); */
}

/* #JPDevelopment .pic {
  background-image: url(../images/JPD1.jpg)
}

#JPDevelopment:hover .pic {
  background-image: url(../images/JPD1-V.jpg)
} */

/*//// project modal ////*/
.modal-dialog {
  margin-top: 75px;
}

.modal-content {
  font-family: "Archivo Narrow", sans-serif;
}

.modal-footer {
  border: none;
}

#projVisitModal {
  text-decoration: none;
  padding: 0 10px;
  margin: auto;
  background-color: #fff;
  color: #4989BA;
  border: solid 3px #4989BA;
  font-size: 1.5em;
}

#projVisitModal:hover {
  margin: auto;
  background-color: #44C7BA;
  border: solid 3px #44C7BA;
  color: #fff;
  font-size: 1.5em;
}

.projTitleModal {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 600;
  font-size: 22pt;
  line-height: 30pt;
  color: #444;
  margin-bottom: 0;
}

.projTechModal {
  color: #919191;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  word-spacing: 2rem;
  border-bottom: 1px solid #444;
}

.projAboutModal {
  font-size: 14.5pt;
  color: #444;
}

/*/////  Footer  /////*/

li>a {
  text-decoration: none;
}

footer {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  background: #2B516E;
  color: #ccc;
  padding-top: 1%;
  clear: both;
  border-top: 2px solid #44C7BA;
  font-size: 14px;
  text-align: right;
  bottom: 0px;
  height: 6%;
  margin: 2% 0px 0px 0px;
  width: 100%;
}

/*//// Media Queries /////*/
/* @media (min-width: 768px) {
  .projItem:nth-of-type(odd) {
    padding-right: 0;
  }

  .projItem:nth-of-type(even) {
    padding-left: 0;
  }
} */

/*//// social icons /////*/
#SocialImages {
  text-decoration: none;
  color: #dddddd;
  height: auto;
  text-align: center;
}

#SocialImages:after {
  content: '';
  /*display: inline-block;*/
  width: 100%;
}

i[class^="fa"]:before {
  display: inline-block;
  text-decoration: none;
}

.socialIconLI {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #666666;
}

.socialIconLI:nth-child(2n) {
  margin: 0 10% 0 10%;
}

.socialIcons {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #666666;
}

.socialIcons>i {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #666666;
}

.socialIcons>i:link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #666666;
}

.socialIcons>i:visited {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #666666;
}

.socialIcons>i:hover {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #4aaaa5;
}